* {
    background-color: #fff;
}
main {
position: relative;
max-width: 360px;
margin: 0 auto;
padding: 60px 0 70px;
}

.form-wrapper {
    padding: 75px 10px;
}
.form-wrapper h3 {
    text-align: center;
    color: #6C696F;
}

.item-wrapper {
    margin: 0 auto;
    text-align: center;
}


.userId, .userEmail{
    display: block;
    position: relative;
    width: 90%;
    height: 11px;
    padding: 14px 18px;
    border: none;
    border-bottom: 2px solid rgb(214, 222, 235);
    background: white;
    color: rgb(49, 53, 56);
    font-size: 15px;
}
.userId:hover {
    border-bottom: 2px solid #719474;
}

.userEmail:hover {
    border-bottom: 2px solid #719474;
}

.findIdbtn {
    display: block;
    width: 344px;
    border: none;
    margin-top: 15px;
    height: 45px;
    background-color: #719474;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}
p {
    font-size: 11px;
    font-weight: bold;
    color: #808991;
}