* {
    background-color: #fff;
}
main {
position: relative;
max-width: 360px;
margin: 0 auto;
padding: 60px 0 70px;
}

.form-wrapper {
    padding: 75px 10px;
}
.item-wrapper {
    margin: 0 auto;
    text-align: center;
}

.userId, .userpwd{
    display: block;
    position: relative;
    width: 90%;
    height: 11px;
    padding: 14px 18px;
    overflow: hidden;
    border: none;
    border-bottom: 2px solid rgb(214, 222, 235);
    background: white;
    color: rgb(49, 53, 56);
    font-size: 15px;
}

.userId:hover {
    border-bottom: 2px solid #719474;
}
.userpwd:hover {
    border-bottom: 2px solid #719474;
}

.loginbtn {
    display: block;
    width: 344px;
    border: none;
    margin-top: 15px;
    height: 45px;
    background-color: #719474;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.atag {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6px;
}

.atag a {
    text-decoration: none;
    color: #808991;
    font-size: 13px;
    font-weight: bold;
}